## Web Crawler → SQLite3 on eBay

### About this project
- This project is mix of using web-crawling, data cleaning, and storing data into a database
- Here, I will be using the following libraries:
    - pandas
    - re
    - beautifulsoup
    - requests
    - sqlite3
- I will also be commenting on places where you can  change the variables to adjust to your needs

#### Steps
- Create a funtions that stores your "keyword" (item you want on eBay)
- Use the search engine on ebay website to search your "keyword"
    - get the first n pages
- Extract the items' information
    - title of the item
    - price
    - condition 
    - shipping information
    - returning policy

|keyword|rank|item_title|price|condition|shipping_info|return|
|:--|:--|:--|:--|:--|:--|:--|
|starwars|1||The Black Series Princess|9.99|brand new|free|null|
|starwars|2|Luke Skywalker & Ysalamiri |19.99|brand new|free|free|
|starwars|3|The Black Series Luke Skywalker|25.99|brand new|5.99|null|
|...|...|...|...|...|...|...|
|...|...|...|...|...|...|...|
|lego|1|100p lego |19.99|pre-owned|free|null|

- Store the data above into a database using SQLite3
    - write SQL to analyze the data

## All the importing libraries

In [ ]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import sqlite3
import re
import warnings
warnings.filterwarnings('ignore')

## STEP 1
#### Making a list of keywords

In [10]:
keyword = input('Type in words that you want to search: ')
keys = keyword.split(' ')

Type in words that you want to search: Type in words that you want

In [11]:
keys

['Type', 'in', 'words', 'that', 'you', 'want']

## STEP 2
#### Create a web crawler on Yahoo search engine to extract information

In [213]:

keywords = ["starwars", "lego"]

title_box = []
price_box = []
condition_box = []
shipping_box = []
return_box = []

for k in keywords:
    for pn in range(1, 4):
        URL = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw={0}&_pgn={1}'.format(k,pn)
        res = requests.get(URL)
        if res.status_code != 200:
            continue
        res.coding = 'utf-8'
        soup = BeautifulSoup(res.text, 'html.parser')
        elms = soup.find_all('div', {'class': 's-item__info clearfix'})
        for i, elm in enumerate(elms):
            title = elm.find_all('h3', {'class': 's-item__title'})[0].get_text()
            title_box.append({'keyword': k, 'page': pn, 'index': i, 'title': title})
            try:
                price = elm.find_all('span', {'class': 's-item__price'})[0].get_text()
            except:
                continue
            price_box.append({'keyword': k, 'page': pn, 'index': i, 'price': price})
            try:
                cond = elm.find_all('span', {'class': 'SECONDARY_INFO'})[0].get_text()
            except:
                continue
            condition_box.append({'keyword': k, 'page': pn, 'index': i, 'condition': cond})
            try:
                ship = elm.find_all('span', {'class': 's-item__shipping s-item__logisticsCost'})[0].get_text()
            except:
                continue
            shipping_box.append({'keyword': k, 'page': pn, 'index': i, 'shipping': ship})
            try:
                r = elm.find_all('span', {'class': 's-item__free-returns s-item__freeReturnsNoFee'})[0].get_text()
            except:
                continue
            return_box.append({'keyword': k, 'page': pn, 'index': i, 'return': r})

## STEP 3
#### From the dictionaries we made from above, store it in a data frame

In [214]:
# functions for all 5 description (columns or features)
def todf(x):
    df = pd.DataFrame.from_dict(x[0], orient = 'index').T
    for k in range(1, len(x)):
        df = df.append(x[k], ignore_index = True)
    return df

In [215]:
title_df = todf(title_box)
price_df = todf(price_box)
cond_df = todf(condition_box)
ship_df = todf(shipping_box)
r_df = todf(return_box)
DF = pd.merge(title_df, price_df, on=['keyword', 'page', 'index'], how='left')
DF = pd.merge(DF, cond_df, on=['keyword', 'page', 'index'], how='left')
DF = pd.merge(DF, ship_df, on=['keyword', 'page', 'index'], how='left')
DF = pd.merge(DF, r_df, on=['keyword', 'page', 'index'], how='left')

In [217]:
# In the price column, takeaway the $ and ',' and  if there is a range of values, take the average
# return Nan for other non-numeric values
def price_norm(x):
    try:
        x = x.replace('$', '').replace(',', '')
        if 'to' in x:
            f = x.split(' to ')[0]
            s = x.split(' to ')[1]
            ans = (float(f) + float(s))/2
            return ans
        return float(x)
    except:
        return np.nan

# In the shipping column, cahnge it to the following: Free shipping = free, Nan = Nan, +$7.75 shipping = 7.75
def ship_norm(y):
    y = str(y).replace(' ', '')
    if 'Free' in y:
        return 'free'
    elif '+$' in y:
        y = y.replace('+$', '').replace('shipping', '')
        return float(y)
    else:
        return y

# In the shipping column, cahnge it to the following: Free shipping = free, Nan = Nan, +$7.75 shipping = 7.75
def return_norm(z):
    if 'Free' in str(z):
        return 'free'
    else:
        return z

In [218]:
test = DF

In [219]:
# just drop the Nan in price column
test  = test[test['price'].notna()]

# creating a new index from 1 to the length of the current dataframe
test.index = np.arange(1, len(test)+1)

# clean the price, shipping, and return column
test['Price'] = test.price.apply(lambda x: price_norm(x))
test['Shipping'] = test.shipping.apply(lambda y : ship_norm(y))
test['Return'] = test['return'].apply(lambda z : return_norm(z))

# make the index to rank column
test['Rank'] = test.index

# drop and reorder the columns
test = test.drop(columns = ['page', 'index', 'price', 'condition', 'shipping', 'return'])
test = test.reindex(columns=['keyword','Rank', 'title', 'Price', 'Shipping', 'Return'])
test

,keyword,Rank,title,Price,Shipping,Return
1,starwars,1,Star Wars The Black Series Princess Leia Organ...,9.99,free,NaN
2,starwars,2,New ListingStar Wars Stan Solo Custom Black De...,43.00,4.0,NaN
3,starwars,3,Star Wars The Black Series Bo-Katan Kryze 6-in...,17.99,nan,NaN
4,starwars,4,Star Wars TECH The Black Series 6 Inch Action ...,44.99,free,NaN
5,starwars,5,Star Wars The Black Series Luke Skywalker (Dag...,15.99,free,NaN
...,...,...,...,...,...,...
391,lego,391,LEGO Series 21 Minifigures Beekeeper Brand New...,8.99,free,NaN
392,lego,392,New ListingLEGO Creator Mini Gingerbread House...,34.99,11.95,NaN
393,lego,393,New ListingLego Hero Factory Voltix 6283,0.99,free,NaN
394,lego,394,LEGO 40461 Tulips 111pcs New,17.99,free,free
395,lego,395,Lego City Stunt Team # 60255 ~ 62 Pieces,13.56,free,free

## STEP 4
#### Create a function that will return a dataframe from inputting an arbritary keyword or keywords. (Combine STEP 1~3)

In [2]:
# all of the functions needed to process this algorithm
##########################################
# functions for all 5 description (columns or features)
def todf(x):
    df = pd.DataFrame.from_dict(x[0], orient = 'index').T
    for k in range(1, len(x)):
        df = df.append(x[k], ignore_index = True)
    return df

# In the price column, takeaway the $ and  if there is a range of values, take the average
def price_norm(x):
    try:
        x = x.replace('$', '').replace(',', '')
        if 'to' in x:
            f = x.split(' to ')[0]
            s = x.split(' to ')[1]
            ans = (float(f) + float(s))/2
            return ans
        return float(x)
    except:
        return np.nan

# In the shipping column, cahnge it to the following: Free shipping = free, Nan = Nan, +$7.75 shipping = 7.75
def ship_norm(y):
    y = str(y).replace(' ', '').replace(',', '')
    if 'Free' in y:
        return 'free'
    elif '+$' in y:
        y = y.replace('+$', '').replace('shipping', '')
        return float(y)
    else:
        return y

# In the shipping column, cahnge it to the following: Free shipping = free, Nan = Nan, +$7.75 shipping = 7.75
def return_norm(z):
    if 'Free' in str(z):
        return 'free'
    else:
        return z


# create a function called search_table
def search_table(keywords, page = 4):
    title_box = []
    price_box = []
    condition_box = []
    shipping_box = []
    return_box = []

    for k in keywords:
        for pn in range(1, page):
            URL = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw={0}&_pgn={1}'.format(k,pn)
            res = requests.get(URL)
            if res.status_code != 200:
                continue
            res.coding = 'utf-8'
            soup = BeautifulSoup(res.text, 'html.parser')
            elms = soup.find_all('div', {'class': 's-item__info clearfix'})
            for i, elm in enumerate(elms):
                title = elm.find_all('h3', {'class': 's-item__title'})[0].get_text()
                title_box.append({'keyword': k, 'page': pn, 'index': i, 'title': title})
                try:
                    price = elm.find_all('span', {'class': 's-item__price'})[0].get_text()
                except:
                    continue
                price_box.append({'keyword': k, 'page': pn, 'index': i, 'price': price})
                try:
                    cond = elm.find_all('span', {'class': 'SECONDARY_INFO'})[0].get_text()
                except:
                    continue
                condition_box.append({'keyword': k, 'page': pn, 'index': i, 'condition': cond})
                try:
                    ship = elm.find_all('span', {'class': 's-item__shipping s-item__logisticsCost'})[0].get_text()
                except:
                    continue
                shipping_box.append({'keyword': k, 'page': pn, 'index': i, 'shipping': ship})
                try:
                    r = elm.find_all('span', {'class': 's-item__free-returns s-item__freeReturnsNoFee'})[0].get_text()
                except:
                    continue
                return_box.append({'keyword': k, 'page': pn, 'index': i, 'return': r})
    title_df = todf(title_box)
    price_df = todf(price_box)
    cond_df = todf(condition_box)
    ship_df = todf(shipping_box)
    r_df = todf(return_box)
    DF = pd.merge(title_df, price_df, on=['keyword', 'page', 'index'], how='left')
    DF = pd.merge(DF, cond_df, on=['keyword', 'page', 'index'], how='left')
    DF = pd.merge(DF, ship_df, on=['keyword', 'page', 'index'], how='left')
    DF = pd.merge(DF, r_df, on=['keyword', 'page', 'index'], how='left')
    DF  = DF[DF['price'].notna()]
    DF.index = np.arange(1, len(DF)+1)
    DF['Price'] = DF.price.apply(lambda x: price_norm(x))
    DF['Shipping'] = DF.shipping.apply(lambda y : ship_norm(y))
    DF['Return'] = DF['return'].apply(lambda z : return_norm(z))
    DF['Rank'] = DF.index
    DF = DF.drop(columns = ['page', 'index', 'price', 'condition', 'shipping', 'return'])
    DF = DF.reindex(columns=['keyword','Rank', 'title', 'Price', 'Shipping', 'Return'])
    return DF

In [3]:
#input keywords
keywords = input('Type in words that you want to search (if you want to do an AND search, put "+" between the words): ')
keywords = keywords.split(' ')

Type in words that you want to search (if you want to do an AND search, put "+" between the words): iphone samsung dell intel LG

In [4]:
df = search_table(keywords)
df.head(20)

,keyword,Rank,title,Price,Shipping,Return
1,iphone,1,Apple  iPhone 11 64GB Verizon TMobile AT&T UN...,419.00,nan,NaN
2,iphone,2,Apple iPhone 11 Unlocked 64GB 128GB 256GB | Ve...,529.98,nan,NaN
3,iphone,3,Apple iPhone XR Red 64GB A1984 LTE GSM CDMA Ve...,315.99,nan,NaN
4,iphone,4,Apple  iPhone 11 128GB Verizon TMobile AT&T U...,469.00,nan,NaN
5,iphone,5,iPhone 8 - Unlocked 64GB - Gray - Good,179.00,free,free
6,iphone,6,Apple iPhone 6s (Good Condition) Unlocked Veri...,89.00,9.98,free
7,iphone,7,Apple iPhone 8 64GB Space Gray Verizon Unlocke...,178.99,free,free
8,iphone,8,iPhone 8 - Unlocked 64GB - Gray - Good,179.00,free,NaN
9,iphone,9,Apple iPhone 8 64GB GSM Factory Unlocked GRAY ...,169.99,free,NaN
10,iphone,10,Apple iPhone 11 Unlocked 64GB 128GB 256GB | Ve...,529.98,nan,NaN
11,iphone,11,Apple iPhone X | 64GB 256GB | Unlocked Verizon...,379.98,nan,NaN
12,iphone,12,Apple iPhone XR 64GB Factory Unlocked Smartpho...,309.99,nan,NaN
13,iphone,13,Apple iPhone 8 64GB Factory Unlocked Phone - V...,179.95,free,NaN
14,iphone,14,Apple iPhone 7 Plus 32GB GSM Unlocked AT&T T-M...,189.95,nan,NaN
15,iphone,15,Apple iPhone X 64GB Factory Unlocked Phone - V...,314.95,free,NaN
16,iphone,16,Apple iPhone 8 64GB GSM Factory Unlocked GRAY ...,169.99,free,free
17,iphone,17,Apple iPhone 7 - 32GB - Black (FULLY Unlocked)...,104.89,free,free
18,iphone,18,Apple iPhone 7 - 32GB - Black - (GSM) Unlocke...,104.99,free,free
19,iphone,19, Apple iPhone 11 Pro | 64GB Space Gray | Unlo...,549.99,nan,NaN
20,iphone,20,New ListingApple iPhone 12 mini - 128GB - Blac...,575.00,9.9,NaN

In [5]:
df.shape

(1019, 6)

## STEP 5
#### After making the complete table, import it into a database using sqlite

In [ ]:
#### メモ
# これを使うことによって、ebayで好きなものを条件を入力してみることができる
# 分析（どれくらいfree shippingがあるか）
    # conditionの割合
    # returnの割合
    # ある特定の検索ワードに対して、どの商品名やキャラクター名が多いのか

In [7]:
# connecting to sqlite
conn = sqlite3.connect("ebay_item_lists")
df.to_sql('ebay_tables', conn, if_exists = 'append', index = None)
conn.close()

### Queries to think about
- What percentage of the items have free shipping
- What percentage of the items have free returning policy
- What are the range of prices for every keyword
- How many products are between ±2 std of the mean

In [9]:
conn = sqlite3.connect("ebay_item_lists")

## What percentage of the items have free shipping
first = pd.read_sql('''
        SELECT
            keyword,
            count(*)
        FROM
            ebay_tables
        WHERE
            Shipping = "free"
        GROUP BY
            keyword
        ORDER BY
            keyword''', con = conn)

conn.close()

In [10]:
first

   keyword  count(*)
0       LG       262
1     dell       232
2    intel       260
3   iphone       220
4  samsung       258